.container_custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1400px;
  margin: 50px auto 50px auto;
}

.contactImg {
  height: 100%;
  width: 350%;
  border-radius: 5px;
}

.details {
  margin-left: 10px;
}

.info {
  text-align: left;
}

/* Styling for mobile devices */
@media (min-width: 320px) and (max-width: 599px) 
{
  .container_custom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
  }

  .contactImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .details {
    margin-top: 20px;
  }

  .details p {
    margin-top: 20px;
    min-width: 0;
    font-size: 17px;
  }

}