html {
  font-family: Roboto;
}

body {
  font-size: 16px;
  background-color: #393a40;
}

h1 {
  font-size: 4em;
  margin-top: 200px;
}


h1, p {
  text-align: center;
}

h1, h4, p {
  color: white;
}

.topnav {
  overflow: hidden;
  border-radius: .5%;
  text-align: center;
}

.topnav a {     /*styling for navigation link allighnmet and location*/
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover { /*styling for cursor floation over navigation links*/
  padding-bottom: 15px;
  border-bottom-style: solid;
}



p {
  font-size: 1.5em;
}

.mainImg {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
}

footer {
  flex: 0; /* Prevent footer from growing */
  margin-top: 200px; /* Push footer to the bottom */
  color: white;
  text-align: center;
  padding-bottom:  0px;
}

/* Style the <nav> element containing your icons */
.social nav {
    display: flex; /* Arrange icons horizontally */
    gap: 10px; /* Add some spacing between icons */
}

/* Style the <img> elements (your icons) */
.social a {
  margin-left: 5px;
  margin-right: 5px;
}

.social img {
    width: 30px; /* Adjust the width to make them smaller */
    height: auto; /* Maintain aspect ratio */
}