/* Global Styling */

html {
    ffont-family: Roboto;
    color: white;
    height: 100%;

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #393a40;
    display: flex;
    flex-direction: column;
}

.containerMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: white;
    text-align: center;
  }

main {
     flex: 1;    
     border 2px;
 }

.navbar-custom {
    background-color: #393a40;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px;
}


h1, p {
    text-align: center;
}

h1, h4, p {
    color: white;
}

h5, h4 {
      font-size: 16px;
  }


p {
    font-size: 20px;
}

.imgSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

.mainImg {
    width: 200px;
    height: auto;
}

footer {
    
    width: 100vw;
    flex: 0;
    color: white;
    text-align: center;
    position: flow;
    padding-bottom:  0px;
    margin-bottom: 0px;
}

.sociallinks {
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .social nav {
      display: flex;
      gap: 10px;
}

  .social a {
    margin-left: 5px;
    margin-right: 5px;
      color: white;
}

  .social img {
      width: 30px;
      height: auto;
}

a {
    color: white;
}

.mainImg {
    display: block;
    margin: 20px;
}

.img_ref {
    margin-bottom: 20px;
}

/* Styling for mobile devices */
@media (min-width: 320px) and (max-width: 599px) 
{

    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .main {
         flex: 1 0 auto;
         padding: 3rem;
         border 2px;
     }
    
      .navbar-custom .navbar-nav .nav-link {
        text-align: left;
      }

    h1 {
        margin-top: 20px;
        font-size: 28px;
    }

    p {
        font-size: 17px
    }


    h1, p {
        text-align: center;
    }

    h1, h4, p {
        color: white;
    }

    .imgSection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0 60px 0;
    }


      .mainImg {
        display: block;
        width: 60%;
        height: auto;
      }


      footer {
        color: white;
        text-align: center;
        flex: 1 0 auto;
        padding: 3rem;
      } 
      

      h4, h5 {
        font-size: 16px;
      }

    .img_ref {
        margin-bottom: 20px;
    }

    .sociallinks {
          margin-bottom: 20px;
          margin-top: 20px;
    }
    
    .social nav {
          display: flex;
          gap: 10px;
          padding-bottom: 20px;
    }

    .social a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .social img {
          width: 35px;
          height: auto;
    }

}