<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pedrothedev</title>
        <link rel = "stylesheet" href = "static/styles.css">
      <link rel = "stylesheet" href = "static/contact_styles.css">
      <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
    </head>

    <body>
        <header> <!--Contains the navigation, tagline, and name of the webiste-->
            <h1>Contact</h1>
            <nav class="topnav"> <!-- contains code for menu navigation-->
                <a href="{{ url_for('projects') }}">Home</a> <!-- class 'active is current tab'-->
                <a href="{{ url_for('projects') }}">Projects</a>
                <a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank" rel="noopener noreferrer">Click Me!</a>
                <a class="active">Contact Information</a>
            </nav>
        </header>
        <!--Main content here-->
        <div class="container"> <!--Section contains rocket image, that initates galaga game-->
          <img class="contactImg" src = "static/stock_user.jpg" alt = "profile photo">
          <div class="details">
            <p class="title">About Me</p>
            <p class="info">Softwre Engineer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <footer>
          <div class = sociallinks>
            <h4>Reach Me At</h4>
            <nav class="social"> <!-- contains code for menu navigation-->
              <a href="https://www.instagram.com/aloofprograming/?hl=en" target="_blank"><img src="static/instagram.png"></a>
              <a><img src="static/email.png"</a>
              </nav>
          </div>
          <h5>Copyright &#169; 2024 Pedro Ibarra</h5>
        </footer>

    </body>
</html>
