<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>soyPedro!</title>
        <link rel = "stylesheet" href = "static/styles.css">
    </head>

    <body>
        <header> <!--Contains the navigation, tagline, and name of the webiste-->
            <h1>Vote for Pedro!</h1>
          <p class="tagL">Welcome to my Site!</p>
            <nav class="topnav"> <!-- contains code for menu navigation-->
                <a class="active" href="#home">Home</a> <!-- class 'active is current tab'-->
                <a href="">Projects</a>
                <a href="https://youtu.be/dQw4w9WgXcQ?t=43">Click Me!</a>
                <a href="">Contact Information</a>
            </nav>
        </header>
        <!--Main content here-->
        <section> <!--Section contains rocket image, that initates galaga game-->
            <img class="mainImg" src = "static/space-ship.png" alt = "Cool Spaceship">
        </section>
        <footer>
          <h4>Image Sources:</h4>
          <a href="https://www.flaticon.com/free-icons/space-ship" title="space ship icons">Space ship icons created by Andrejs Kirma - Flaticon</a>
        </footer>

    </body>
</html>
