<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>soyPedro!</title>
        <link rel = "stylesheet" href = "static/styles.css">
        <link rel = "stylesheet" href = "static/projects_styles.css">
    </head>

    <body>
        <header> <!--Contains the navigation, tagline, and name of the webiste-->
            <h1>Projects</h1>
            <nav class="topnav"> <!-- contains code for menu navigation-->
                <a href="{{ url_for('home') }}">Home</a> <!-- class 'active is current tab'-->
                <a class="active">Projects</a>
                <a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank" rel="noopener noreferrer">Click Me!</a>
                <a href="{{ url_for('contact') }}">Contact Information</a>
            </nav>
        </header>
        <!--Main content here-->
        <div class="container"> <!--Section contains rocket image, that initates galaga game-->
          <img class="project_img" src = "static/motherboard83255.jpg" alt = "colorful comic styled motherboard">
          <div class="details">
            <!-- for loop trough data -->
            {% for project in projects %}
              {% include 'projectitems.html' %}
            {% endfor %}
          </div>
        </div>
        <footer>
          <div class = sociallinks>
            <h4>Reach Me At</h4>
            <nav class="social"> <!-- contains code for menu navigation-->
              <a href="https://www.instagram.com/aloofprograming/?hl=en" target="_blank"><img src="static/instagram.png"></a>
              <a><img src="static/email.png"</a>
              </nav>
          </div>
          <h5>Copyright &#169; 2024 Pedro Ibarra</h5
        </footer>

    </body>
</html>
